target/
!.mvn/wrapper/maven-wrapper.jar

azure/config/config.yaml
azure/config/credentials.yaml
azure/config/jobs.yaml
azure/config/pool.yaml

cloud-init.txt

*.ignore
*.bak

azure/config/jmeterpool/
afterburner-loadtest-jmeter/tmp/

.idea/