target/
!.mvn/wrapper/maven-wrapper.jar

azure/config/config.yaml
azure/config/credentials.yaml
azure/config/jobs.yaml
azure/config/pool.yaml

azure/config/jmeterpool/
afterburner-loadtest-jmeter/tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
