<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Default Console Appender (JSON Format) -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {
                "system_under_test": "${management.metrics.tags.system_under_test}",
                "test_environment": "${management.metrics.tags.test_environment}",
                "service": "${management.metrics.tags.service}"
                }
            </customFields>
        </encoder>
    </appender>

    <!-- Root Logger Configuration for Default Profile -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <!-- Spring Profile for Logstash Logging -->
    <springProfile name="logstash">
        <!-- Console Appender with JSON Format for Logstash-Specific Logs -->
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {
                    "system_under_test": "${management.metrics.tags.system_under_test}",
                    "test_environment": "${management.metrics.tags.test_environment}",
                    "service": "${management.metrics.tags.service}"
                    }
                </customFields>
            </encoder>
        </appender>

        <!-- Logstash Appender for Sending Logs to Logstash (JSON Format) -->
        <appender name="Stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" charset="UTF-8">
                <customFields>
                    {
                    "system_under_test": "${management.metrics.tags.system_under_test}",
                    "test_environment": "${management.metrics.tags.test_environment}",
                    "service": "${management.metrics.tags.service}"
                    }
                </customFields>
            </encoder>
            <destination>${afterburner.logback.logstash.remotehost:-logstash}:${afterburner.logback.logstash.port:-4560}</destination>
        </appender>

        <!-- Root Logger Configuration for Logstash Profile -->
        <root level="info">
            <appender-ref ref="Stash" />
        </root>
    </springProfile>

</configuration>
