<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy'T'HH:mm:ss.SSS} %highlight(%-5level) %green([%20.20thread]) %yellow([%40.40logger{40}]) - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <springProfile name="logstash">
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {
                    "system_under_test": "${management.metrics.tags.system_under_test}",
                    "test_environment": "${management.metrics.tags.test_environment}",
                    "service": "${management.metrics.tags.service}"
                    }
                </customFields>
            </encoder>
        </appender>

    </springProfile>
</configuration>

