---

name: CI/CD K6

on:
  push:
    branches: [demo, develop]
  pull_request:
    branches: [demo, develop]


jobs:

  build:
    uses: perfana/afterburner/.github/workflows/build-deploy.yml@main
    secrets: inherit

  prepare-performance-test:
    uses: perfana/afterburner/.github/workflows/prepare-performance-test.yml@main
    needs: build
    secrets: inherit
    with:
      service: bumble-bee

  performance-test-k6:
    uses: perfana/afterburner/.github/workflows/run-k6-test.yml@main
    needs: prepare-performance-test
    secrets: inherit
    with:
      systemUnderTest: BumbleBee
      workload: load
      service: bumble-bee
      runner: acme

  deploy-to-production:
    uses: perfana/afterburner/.github/workflows/deploy-to-production.yml@demo
    needs: performance-test-gatling
