---

name: Performance test JMeter demo

on:
  workflow_run:
    workflows: ["Build afterburner and deploy"]
    types:
      - completed

jobs:

  prepare-performance-test:
    uses: perfana/afterburner/.github/workflows/prepare-performance-test.yml@main
    secrets: inherit
    with:
      service: optimus-prime
      runner: acme

  performance-test-jmeter:
    uses: perfana/afterburner/.github/workflows/run-jmeter-test.yml@main
    needs: prepare-performance-test
    secrets: inherit
    with:
      systemUnderTest: PerfanaWebshop
      workload: load
      service: optimus-prime
      runner: acme

  deploy-to-production:
    uses: perfana/afterburner/.github/workflows/deploy-to-production.yml@demo
    needs: performance-test-jmeter
