---

name: CI/CD

on:
  push:
    branches: [demo]
  pull_request:
    branches: [demo]
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:  

jobs:

  build:
    uses: perfana/afterburner/.github/workflows/build-deploy.yml@main
    needs: build
    secrets: inherit

  performance-test-gatling:
    uses: perfana/afterburner/.github/workflows/run-gatling-test.yml@main
    needs: build
    secrets: inherit
