---

name: Run performance test
run-name: performance test for runner ${{ github.event.inputs.runner }} sut ${{ github.event.inputs.systemUnderTest }} workload ${{ github.event.inputs.workload }} service ${{ github.event.inputs.service }} tool ${{ github.event.inputs.tool }}

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      systemUnderTest:
        description: 'System Under Test'
        required: true
        default: 'OptimusPrime'
        type: choice
        options:
          - OptimusPrime
          - JetFire
          - BumbleBee
          - StarScream
      workload:
        description: 'Workload'
        required: true
        default: 'load'
        type: choice
        options:
          - load
          - stress
      service:
        description: 'Service name'
        required: true
        default: 'optimus-prime'
        type: choice
        options:
          - optimus-prime
          - jet-fire
          - bumble-bee
          - star-scream
      tool:
        description: 'Load test tool'
        required: true
        default: 'gatling'
        type: choice
        options:
          - gatling
          - gatling-docker
          - jmeter
          - k6
      annotations:
        description: 'Test run annotation'
        type: string
        required: false
      runner:
        description: 'Runner environment'
        default: 'demo'
        type: choice
        options:
          - demo
          - test


jobs:

  performance-test-gatling:
    uses: perfana/afterburner/.github/workflows/run-gatling-test.yml@main
    if: inputs.tool == 'gatling'
    secrets: inherit
    with:
      systemUnderTest: ${{ inputs.systemUnderTest }}
      workload: ${{ inputs.workload }}
      service: ${{ inputs.service }}
      annotations: ${{ inputs.annotations }}
      runner: ${{ inputs.runner }}

  performance-test-gatling-docker:
    uses: perfana/afterburner/.github/workflows/run-gatling-docker-test.yml@main
    if: inputs.tool == 'gatling-docker'
    secrets: inherit
    with:
      systemUnderTest: ${{ inputs.systemUnderTest }}
      workload: ${{ inputs.workload }}
      service: ${{ inputs.service }}
      annotations: ${{ inputs.annotations }}
      runner: ${{ inputs.runner }}

  performance-test-k6:
    uses: perfana/afterburner/.github/workflows/run-k6-test.yml@main
    if: inputs.tool == 'k6'
    secrets: inherit
    with:
      systemUnderTest: ${{ inputs.systemUnderTest }}
      workload: ${{ inputs.workload }}
      service: ${{ inputs.service }}
      annotations: ${{ inputs.annotations }}
      runner: ${{ inputs.runner }}

  performance-test-jmeter:
    uses: perfana/afterburner/.github/workflows/run-jmeter-test.yml@main
    if: inputs.tool == 'jmeter'
    secrets: inherit
    with:
      systemUnderTest: ${{ inputs.systemUnderTest }}
      workload: ${{ inputs.workload }}
      service: ${{ inputs.service }}
      annotations: ${{ inputs.annotations }}
      runner: ${{ inputs.runner }}

